.card {
  position: relative;
}

.card__image {
  display: block;
  height: 413px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  object-fit: cover;
}

.card__delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 32px;
  width: 32px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url(../images/delete-icon.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s ease-in-out;
}

.card__delete-button:hover {
  background-image: url(../images/hover-delete-icon.svg);
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  max-width: 350px;
  margin: 0;
  color: #212121;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  height: 20px;
  width: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/active-like-icon.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  opacity: 0.5;
}

@media screen and (max-width: 650px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 265px;
    font-size: 16px;
    line-height: 1;
  }

  .card__like-button {
    height: 18px;
    width: 20px;
  }
}
